.homepage {
    animation: fadeIn 1s ease-in-out forwards;

    .hero-section {
        text-align: center;
        margin-bottom: auto;
        background: #EFF6FF;
        padding: 40px;
        min-height: 60vh;
     

        .container {
            min-height: 60vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    .section {
        margin-top: 40px;
    }

    .ant-card {
        border-radius: 10px;
    }

    .ant-card-cover img {
        height: 200px;
        object-fit: cover;
    }
}
@keyframes faIn {
    from {
        opacity: 0;
        transform: translateY(70px); /* Dịch xuống một chút */
    }

    to {
        opacity: 1;
        transform: translateY(0); /* Trở về vị trí ban đầu */
    }
}
.test1 {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: typing 3s steps(35) infinite alternate-reverse;
    margin-left: auto;
    margin-right: auto;
}
@keyframes typing {
    from {
      width:0;
    }

   
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform:translateY(100px  );
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.home_tt {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20px;
    .ant-row {
        width: 100%;
    }

    .ant-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title_home {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .number {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 8px;

        &:nth-child(1) {
            color: #ab7bf0;
        }

        &:nth-child(2) {
            color: #ff6a00;
        }

        &:nth-child(3) {
            color: #00ff90;
        }
    }
}
.home_slide {
    padding-top: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #EFF6FF;
    padding-bottom: 25px;
    min-height:100vh;
    h2 {
        text-align: center;
        font-size: 2rem;
        color: #45a3f1;
    }

    .container span {
        width: 100%;
        display: block;
        text-align: center;
        font-size: 1rem;
        margin-bottom: 20px;
    }
}
.section {
    margin-top: 20px;
    margin-bottom: 20px;
    padding:20px;
    min-height:90vh;
}
.section1 {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #EFF6FF;
    min-height: 80vh;

    .content1 {
        padding-top: 20px;
        padding-bottom: 20px;

        &_title1 {
            font-size: 2rem;
            font-weight: 700;
            color: #1e3a8a;
            text-align: center;
            margin-bottom: 20px;
        }

        > span {
            font-size: 1rem;
            color: #1e3a8a;
            text-align: center;
            display: block;
            margin-bottom: 20px;
        }

        &_list {
            margin-top: 20px;
            margin-bottom: 20px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            padding: 0 50px;
        }

        &_item {
            border-radius: 7px;
            padding: 30px;
            background: #fff;

            &:hover {
                box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
                transform: translateY(-5px);
                transition: all 0.3s ease;
            }

            &_icon {
                font-size: 2rem;
                color: #3b82f6;
                margin-bottom: 15px;
            }
        }
    }
}
@media(max-width:998px){
    .section1 .content1_list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:568px) {
    .section1 .content1_list {
        grid-template-columns: repeat(1, 1fr);
    }
}
.fade-in-section {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.2s ease-out, transform 0.8s ease-out;
}

.fade-in-section.active {
    opacity: 1;
    transform: translateY(0);
}
